@use '@/styles/abstracts/variables' as *;
@use '@/styles/abstracts/breakpoints' as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $space-12;

  @include respond-to('md') {
    grid-template-columns: repeat(2, 1fr);
    gap: $space-10;
  }

  @include respond-to('lg') {
    grid-template-columns: repeat(3, 1fr);
  }
}

.empty {
  padding-block: $space-16;
  text-align: center;
  color: $color-text-muted;
  font-size: $font-size-sm;
}
